/* variables */
:root {
  --primary-color: #242424;
  --secondarycolor: #fff;
  --background-color: #202124;
  --background-color-two: #2b2b2b;
  --background-color-hover: #2b2b3b;
}

/* styleguide */
* {
  color: var(--secondarycolor);
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  text-transform: unset;
}

body {
  color: var(--secondary-color);
  background-color: var(--background-color);
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: #ffff;
  white-space: nowrap;
  font-size: 2.5em;
}

h2 {
  color: #5486f1;
  font-weight: 700;
  font-size: 2.25em;
}

h3 {
  color: #5486f1;
  font-weight: 700;
  font-size: 2em;
}
h4 {
  color: #5486f1;
  font-weight: 700;
  font-size: 1.75em;
}

h5 {
  color: #5486f1;
  font-weight: 700;
  font-size: 1.5em;
}

p {
  font-size: 14px;
}

span {
  font-weight: 400;
}

hr {
  border: none;
  background-color: #5486f1;
  height: 5px;
}

/* header */
header {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  padding: 1.5rem 0;
  background-color: var(--background-color);
  box-shadow: 0px -15px 35px 0px black;
}

.options-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart {
  width: 2em;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

ul h1:hover {
  color: #5486f1;
  transition: 0.3s;
  cursor: pointer;
}

ul li {
  display: inline;
}

ul li a {
  padding: 0.5rem;
  cursor: pointer;
  color: #ffff;
  text-decoration: none;
}

ul li a:hover {
  color: #5486f1;
  transition: 0.3s;
}

/* main */
main {
  margin: 11em 0;
  display: flex;
  justify-content: space-evenly;
}

/* Reestruturar html de details-product p/ aplicar o main defautl */
/* main {
	margin: 11em auto;
	max-width: 1200px;
} */

img {
  width: 20em;
}

.area-products {
  display: flex;
  gap: 5em;
  align-items: center;
}

.page-product-description {
  margin-bottom: 1.5em;
}

.btn-add-cart{
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.6em 1em;
  color: #07c35b;
  font-weight: 600;
  line-height: 15px;
  font-size: 15px;
}

.btn-add-cart:hover{
  background-color: #07c35b;
  color: #fff;
}

.div-add-cart{
  margin-top: 2em;
}